<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <title>Sinatra App</title>
</head>
<body>
  <h1>Hello, Sinatra!</h1>
  <a href="/about">Go to About Page</a>
  <a href="/contact">Contact me!<a>
  <p>This is my very first sinatra website<p>
</body>
</html>